body{
	color: #1E201F;
	font-family: oswald;
	background-color: #aaaaaa;
}




#titreindex{
	text-align: center;
	font-family: oslwald;
}

#soustexte{
	text-align: center;
}

a{
	color: #FFE500;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color: red;
}

h2{
	color: red;
}

.car{
	border-radius: 10%;
}

#guillaume{
	border-radius: 50%;
	width: 90px;
}

#footer{
	background-color: black;
	color: #aaaaaa;
	padding-top: 1em;
	padding-bottom: 1em;
}

.social a{
	font-size: 32px;
}

#footer a {
color:#aaaaaa;
}

#footer a:hover{
	color: white;
}


#loc{
	border: 2px solid black;
	margin: 10px
}

#nous{
	border: 2px solid brown;
	margin: 10px
}

#navbar{
	background-color: black;
}

#navbarc{
	color: yellow;
	padding-left: 340px
}

#navbars21{
	padding-left: 50px;
}

#navbar a:hover{
	color: white;
}

#navbarqui{
	padding-left: 310px;
}

#navbarloc{
	padding-left: 50px;
}

#navbarat{
	padding-left: 50px;
}

#wrapper{
	background-image: url(../images/abc.jpg);
	height: 570px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 150px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#wrapper h1{
	font-size: 72px;
}

#wrapper p{
	font-size: 48px;
}

#wrapperr{
	background-image: url(../images/gosser.jpg);
	height:660px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#quisommesnous{
	text-align: center;
	font-family: lobster ;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 18px;
	background-color: #F0F0F0;
}

#wrappercontact{
	background-image: url(../images/typefigaret.jpg);
	height: 660px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


.contact{
	text-align: center;
	font-family: lobster;
	font-size: 20px;
	background-color: #F0F0F0;
	padding-top: 10px;
}

#textcontact{
	text-align: right;
	color: white;
	font-family: oswald;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 72px;
	padding-top: 140px;
}

#textquisommesnous{
	text-align: right;
	color: white;
	font-family: oswald;
	text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 72px;
	padding-top: 140px;
}

#wrapperlocation{
	background-image: url(../images/gosser2.jpg);
	height: 660px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#location{
	text-align: center;
	font-family: lobster;
	font-size: 20px;
	background-color: #F0F0F0;
	padding-top: 10px;
}

#carte{
	padding-left: 100px;
}