body{
	color: #1E201F;
	font-family: "roboto";
	background-image: url("../images/grid.jpg");
}
h1{
	font-family: oswald;
	font-size: 48px;
}

a{
	color: #FFE500;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color: red;
}

h2{
	color: red;
}

.car{
	border-radius: 10%;
}

#guillaume{
	border-radius: 50%;
	width: 90px;
}

#footer{
	background-color: black;
	color: #aaaaaa;
	padding-top: 1em;
	padding-bottom: 1em;
}

.social a{
	font-size: 32px;
}

#footer a {
color:#aaaaaa;
}

#footer a:hover{
	color: white;
}

#contact{
	border: 2px solid green;
	margin: 10px;
	padding-right: 20px
}

#loc{
	border: 2px solid black;
	margin: 10px
}

#nous{
	border: 2px solid brown;
	margin: 10px
}

#navbar{
	background-color: black;
}

#navbar a:hover{
	color: white;
}

#wrapper{
	background-image: url(../images/abc.jpg);
	height: 570px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 150px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#wrapper h1{
	font-size: 72px;
}

#wrapper p{
	font-size: 48px;
}
